** note please do the conda install steps before the pip install
** as the other way around seems to cause problems
conda install pip
conda install keras
pip install numpy
pip install matplotlib
pip install opencv-python
pip install tensorflow-gpu